@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/droidsansethiopic.css);
body {
margin:0px;
font-family: 'Droid Sans Ethiopic', sans-serif;
font-size:16px; 
}
.cascade-right{
	float:right;
	display:block ;
}

.cascade-left{
	float:left;
	display:block ;
}

.clear{
	clear:both;
}

.main-width{
	width:990px;
}
.header{background-color:#fff;}


.circle{ border-radius:50%;

webkit-border-radius:50%;
moz-border-radius:50%}
	
.black-rec{
	width:30px;
	height:30px;
	display:inline-block;
	margin-right:3px;
	margin-top:5px;
	
	
}

.twiter-link{
	background:#000  url(../image/twitters.png) no-repeat center;}
	
	.twiter-link:hover{
	background:#000  url(../image/twitter-hover.png) no-repeat center;}
	
	.facebook-link{
	background:#000 url(../image/facebook.png) no-repeat center;}
	.facebook-link:hover{
	background:#000 url(../image/facebook-hover.png) no-repeat center;}
	
	.insta-link{
	background:#000 url(../image/insta.png) no-repeat center;}
	.insta-link:hover{
	background:#000 url(../image/insta-hover.png) no-repeat center;}
	
	
	.moodele-link{
	background:#000 url(../image/p1.png) no-repeat center;}
	.moodele-link:hover{
	background:#000 url(../image/p1-hover.png) no-repeat center;}
	
	.phone{
		background-image: url(../image/hover-phone.png);
		background-repeat:no-repeat;
		background-position:0% 50% ;
		display:inline-block;
		padding-left:20px;
		color:#000;
		height:20px;
		margin-top:5px;}
		
		.uper-menu,.uper-menu li{display:inline;
		
			
		}
		
		.uper-menu{
			direction:ltr;
			color:#fff;
			 }
			
			.uper-menu li{margin-left:15px;
			
			}
			.logo{ margin-top:10px; margin-left:15px;
			
			}
			
			.title{
				font-size:48px;
				color:#FFF;
				background-color:#000; 
				padding-right:30px;
				padding-left:30px;
				
			}
			
		.slider-btn{ 
						width:13px;
						height:13px;
						display:inline-block;
						margin-right:3px;
						margin-top:5px;
						background-color:#f8d73e;
						
						
					}
					.slider-btn:hover{ 
						width:15px;
						height:15px;
						display:inline-block;
						margin-right:3px;
						margin-top:5px;
						background-color:#e9ae23;
						border:#FF0;
						border-style:solid; border-width:thin;
						
						
					}
					
					
		.slider{background-image: url(../image/slide1-1600x820.jpg);
			height:630px;}
			
			.road{ background-image:url(../image/Untitled-1.png);
			height:16px;
				
				}
			
			.trancperant{  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
                    filter: alpha(opacity=70);  /* IE 5-7 */
                    -moz-opacity: 0.7;          /* Netscape */
                    -khtml-opacity: 0.7;        /* Safari 1.x */
                    opacity: 0.7;               /* Good browsers */
			}
			
		.welcom{ color:#fce05c;
		background-color:#000;
		direction:ltr;
		padding:10px;
		text-justify:inter-cluster;
		 
			
			}
		.hdr{
			font-size:24px;
			margin:20px;
			}
			.marg-l{ padding-left:45px;
				}
				
				.marg-l-team{ padding-left:27px;
				}
				
				.classes{ color:#666;
				text-decoration:none;
				
		
				}
				.classes:hover{  color:#000;
		
				}
				
			p{ 
			text-align:justify;
			padding-top:5px;
			direction:ltr;
				
				}
				
				
				
				
				}
				.marg-btm{margin-bottom:40px;}
				.table-marg-l{ padding-left:15px;
				}
				.marg_l_testm{ padding-left:20px;
				}	
				
				.span-licens{
					color:#F90; font-weight:bold;  }
					
					.msg{
		background-image:url(../image/quote.png);
		background-repeat:no-repeat;
		background-position:0% 50% ;
		display:inline-block;
		padding-left:60px;
		}
		
		.adress-msg{
		background-image:url(../image/address.png);
		background-repeat:no-repeat;
		background-position:0% 50% ;
		display:inline-block;
		padding-left:30px;
		color:#fff;
		height:25px;
		}
		.phone-msg{
		background-image:url(../image/tel.png);
		background-repeat:no-repeat;
		background-position:0% 50% ;
		display:inline-block;
		padding-left:62px;
		color:#fff;
		height:25px;
		}
		.msgy-msg{
		background-image:url(../image/msgy.png);
		background-repeat:no-repeat;
		background-position:0% 50% ;
		display:inline-block;
		padding-left:65px;
		color:#fff;
		height:25px;
		
		}
		
		
		
		.qoute{margin-top:10px; border-color:#F90; border-style:solid; border-width:thin; height:120px; padding:10px
			
			}	
			
			
			.category1-link:hover{
				background-image:url(../image/category1_hover.png);
				
			}
			
			.category1-link{
				background-image:url(../image/category1.png);
			}
			.display-category1-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				
				display:inline-block;
			}
					
					
					
					.category2-link:hover{
				background-image:url(../image/category2_hover.png);
				
			}
			
			.category2-link{
				background-image:url(../image/category2.png);
			}
			.display-category2-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				
				display:inline-block;
			}
					
					.category3-link:hover{
				background-image:url(../image/category3_hover.png);
				
			}
			
			.category3-link{
				background-image:url(../image/category3.png);
			}
			.display-category3-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				display:inline-block;
			}	
			
				
					.category4-link:hover{
				background-image:url(../image/category4_hover.png);
				
			}
			
			.category4-link{
				background-image:url(../image/category4.png);
			}
			.display-category4-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				
				display:inline-block;
			}	
			
				.category5-link:hover{
				background-image:url(../image/category5_hover.png);
				
			}
			
			.category5-link{
				background-image:url(../image/category5.png);
			}
			.display-category5-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				
				display:inline-block;
			}	
			
			.category6-link:hover{
				background-image:url(../image/category6_hover.png);
				
			}
			
			.category6-link{
				background-image:url(../image/category6.png);
			}
			.display-category6-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				
				display:inline-block;
			}	
			.category7-link:hover{
				background-image:url(../image/category7_hover.png);
				
			}
			
			.category7-link{
				background-image:url(../image/category7.png);
			}
			.display-category7-link{
				height:67px;
				width:107px;
				
				background-repeat:no-repeat;
				background-position:center;
				
				
				display:inline-block;
			}	
			
			
			.display-map{
				height:433px;
				width:433px;
				background-image:url(../image/map3.jpg);
				background-repeat:no-repeat;
				background-position:center;
				border-color:#e9ae23;
				border-width:3px;
				border-style:solid;
				display:inline-block;
			}	
			
			
			.display-e-nam-con{
				height:40px;
				width:500px;
				border-color:#e9ae23;
				border-width:2px;
				border-style:solid;
				display:inline-block;
				margin-bottom:10px;
				padding-top:20px;
			}	
			.display-msg-con{
				height:300px;
				
			}	
			.display-submt-con{
				
				width:247px;
				text-decoration:none;
				color:#fff;
				
			}
			
			.display-submt-con:hover{
				
				width:247px;
				text-decoration:none;
				color:#fff; background-color:#e9ae23;
			}
			
			.contac-backg{
				color:#fff; background-color:#1f1f1f ;
				}
			.copy-privacy{ color:#fff;
			margin-top:100px;
			display:inline-block;
				
				}
				
				.display-send{
				
				width:60px;
				height:30px;
				text-decoration:none;
				color:#fff;
				background-color:#FC3;
				display:inline-block;
				margin-bottom:10px;
				padding-top:10px;
				
				
			}
			
			
			.display-send:hover{
				
				 background-color:#e9ae23;
			}
			.display-news{
				height:40px;
				width:300px;
				border-color:#e9ae23;
				border-width:2px;
				border-style:solid;
				display:inline-block;
				color:#fff;
				
			}	